Build/
.idea/
./.idea/
LockStepClient/Library/
LockStepClient/Temp/
LockStepClient/Logs/
Server/ServerStudy/
*.pdb
LockStepClient/Logs/AssetImportWorker0-prev.log
LockStepClient/Logs/AssetImportWorker1-prev.log
LockStepClient/ProjectSettings/ProjectSettings.asset
LockStepClient/Temp/__Backupscenes/0.backup
LockStepClient/Temp/PlayerBuildAnalyticsEvents.json
LockStepClient/Temp/StagingArea/Data/globalgamemanagers
LockStepClient/Temp/StagingArea/Data/globalgamemanagers.assets
LockStepClient/Temp/StagingArea/Data/level0
LockStepClient/Temp/StagingArea/Data/sharedassets0.assets
LockStepClient/Temp/UnityLockfile
Server/ServerStudy/.vs/ServerStudy/FileContentIndex/d1103b3f-46ca-4d11-ab9f-b9f034106e7c.vsidx
Server/ServerStudy/.vs/ServerStudy/v17/.suo
Server/ServerStudy/.vs/ServerStudy/v17/DocumentLayout.backup.json
Server/ServerStudy/.vs/ServerStudy/v17/DocumentLayout.json
Server/ServerStudy/bin/Debug/net8.0/ServerStudy.dll
Server/ServerStudy/bin/Debug/net8.0/ServerStudy.exe
Server/ServerStudy/bin/Debug/net8.0/ServerStudy.pdb
Server/ServerStudy/obj/Debug/net8.0/apphost.exe
Server/ServerStudy/obj/Debug/net8.0/ref/ServerStudy.dll
Server/ServerStudy/obj/Debug/net8.0/refint/ServerStudy.dll
Server/ServerStudy/obj/Debug/net8.0/ServerStudy.AssemblyInfo.cs
Server/ServerStudy/obj/Debug/net8.0/ServerStudy.AssemblyInfoInputs.cache
Server/ServerStudy/obj/Debug/net8.0/ServerStudy.csproj.FileListAbsolute.txt
Server/ServerStudy/obj/Debug/net8.0/ServerStudy.dll
Server/ServerStudy/obj/Debug/net8.0/ServerStudy.pdb
LockStepClient/Temp/UnityLockfile
/Server/ServerStudy/.vs
/LockStepClient/ProjectSettings
/LockStepClient/Temp
/LockStepClient/Temp
/LockStepClient/Temp
